.App {
  width: 50%;
  margin:20px auto;
}
.App .stats24{
  margin: 10px;
}

.list-group-item span.label {
  margin-right: 10px;
}
button.list-group-item {
  text-decoration: none;
}
.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .loader{
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  display: block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #FF6700;
}